.wrapper {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #c57514, #d99319);
  position: relative;
  font-family: var(--font-poppins);

  @media screen and (max-width: 768px) {
    justify-content: flex-end;
  }
}

.intro {
  display: none;

  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    color: #fff;
    padding: 20px;
    position: relative;
  }

  .intro_text {
    white-space: nowrap;
    margin-top: -80px;
    height: 200px;

    .intro_title {
      font-size: 27px;
    }

    .intro_time {
      font-size: 13px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 90px;
      height: 30px;
      padding: 4px 12px;
      border-radius: 80px;
      backdrop-filter: blur(12px);
      background: rgba(255, 255, 255, 0.1);
    }
  }

  .intro_model {
    border-radius: 50%;
    background-color: rgba(173, 87, 7, 1);
    border: 4px solid rgba(255, 173, 50, 1);
    height: 300px;
    width: 300px;
    position: absolute;
    top: -95px;
    right: -95px;

    .model_image {
      position: absolute;
      left: 30px;
      top: -30px;
    }
  }
}

.card {
  background: white;
  border-radius: 24px;
  width: 100%;
  max-width: 568px;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  z-index: 2;

  @media screen and (max-width: 768px) {
    align-self: end;
    max-width: 100%;
    border-radius: 12px 12px 0 0;
  }
}

.card_header {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin-bottom: 30px;

  @media screen and (max-width: 768px) {
    justify-content: flex-start;
  }

  .avatar {
    border-radius: 9999px;
    object-fit: cover;
    display: none;

    @media (min-width: 768px) {
      display: flex;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h2 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 8px;
    color: #171717;
    font-family: var(--font-kaisei);
  }

  p {
    font-size: 14px;
    color: rgba(143, 145, 161, 1);
    max-width: 320px;
    line-height: 22px;
  }
}

.months {
  display: flex;
  gap: 24px;
  color: #9ca3af;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 8px;
}

.row {
  display: flex;
  align-items: center;
}

.time_row {
  .list {
    height: auto;
  }
}

.list {
  display: flex;
  gap: 8px;
  overflow-x: auto;
  padding-bottom: 4px;
  scroll-behavior: smooth;
  height: 120px;
  justify-content: flex-start;
  align-items: center;

  &::-webkit-scrollbar {
    height: 4px;
  }

  & > * {
    flex-shrink: 0;
  }
}

.day,
.day_active {
  width: 64px;
  min-width: 64px;
  max-width: 64px;
  height: 72px;

  border-radius: 8px;
  border: 1px solid rgba(232, 235, 244, 1);
  background-color: #fff;

  cursor: pointer;
  padding: 8px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transition: 0.15s ease;
}

.day:hover,
.day_active {
  border: none;
  background-color: rgba(247, 247, 252, 1);
  color: rgba(222, 58, 107, 1);

  .day_week,
  .day_num {
    color: rgba(222, 58, 107, 1);
  }
}

.day_week {
  color: rgba(22, 23, 27, 1);
  font-family: var(--font-poppins);
  font-size: 16px;
}

.day_num {
  color: rgba(22, 23, 27, 1);
  margin-top: 4px;
  font-size: 16px;
  font-weight: 600;
}

.time,
.time_active,
.time_disabled {
  color: rgba(22, 23, 27, 1);
  min-width: 90px;
  height: 44px;
  background: none;
  border: 1px solid rgba(232, 235, 244, 1);
  border-radius: 10px;
  padding: 0 12px;
  font-size: 14px;
  font-weight: 500;

  transition: 0.15s ease;
  cursor: pointer;

  flex-shrink: 0;
}

.time_active {
  background-color: rgba(247, 247, 252, 1);
  color: rgba(222, 58, 107, 1);
  border: none;
}

.time_disabled {
  background: #e5e7eb;
  color: #9ca3af;
  cursor: default;
}

.confirm_wrapper {
  display: flex;
  justify-content: center;
  margin-top: 100px;

  @media screen and (max-width: 768px) {
    margin-top: 50px;
  }
}

.confirm,
.confirm_disabled {
  font-family: var(--font-poppins);
  font-size: 16px;
  font-weight: 600;
  background: rgba(22, 23, 27, 1);
  width: 370px;
  border-radius: 100px;
  padding: 18px 8px;
  color: white;
  cursor: pointer;

  transition: 0.2s ease;
}

.confirm_disabled {
  background: #d1d5db;
  color: white;
  border: none;
}

.day_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.month_label {
  font-size: 12px;
  color: #9ca3af;
  margin-bottom: 6px;
  margin-top: -25px;
}
